<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>743790086996-u1ebhss9r7s3kkpph9ttbti94g0l0l14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743790086996-u1ebhss9r7s3kkpph9ttbti94g0l0l14</string>
	<key>API_KEY</key>
	<string>AIzaSyBQZ38k_SQYIdp1sVrL4jnq2ItQ0136UMI</string>
	<key>GCM_SENDER_ID</key>
	<string>743790086996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mukhtar.Qamqore</string>
	<key>PROJECT_ID</key>
	<string>school-project-8ca50</string>
	<key>STORAGE_BUCKET</key>
	<string>school-project-8ca50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743790086996:ios:b042e53197605c45</string>
	<key>DATABASE_URL</key>
	<string>https://school-project-8ca50.firebaseio.com</string>
</dict>
</plist>